.header {
  background: linear-gradient(to bottom, #466086, #B9BFFF 100%);
  padding: 40px;
  color: #141443;
  text-align: center;
  font-family: 'Raleway', serif;
  font-size: 60px;
}

.name {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  font-size: 60px;
}

.name.fade-in {
  opacity: 1;
}

.slogan {
  opacity: 0;
  transition: opacity 5s ease-in-out;
  font-style: italic;
}

.slogan.fade-in {
  opacity: 1;
}

.logo {
  padding-top: 10px;
  margin-bottom: -30px;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.logo.fade-in {
  opacity: 1;
}

.logo img {
  width: 100px;
}


.navBar {
  background: linear-gradient(to bottom, #B9BFFF, #fff);
  color: #fff;
  font-size: 40px;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.navbar-nav.fade-in {
  opacity: 1;
}

.navbar-nav li {
  flex: 1;
  text-align: center;
}

.navbar-nav a {
  color: #141443;
  font-family: 'Raleway', bold, serif;
  font-weight: bolder;
}

.navbar-nav a:hover {
  color: #30bef6; /* Set the hover color */
}